<h1>実験室予定表<h2>( <%= @year + "." + @month + "." + @day%>現在)</h2></h1>
 </h1>
<div class="container">
  <table class="span9 rigaku">
    <thead><th class="top ui-widget-header" colspan="7">理学</th></thead>
    <%= raw(weekHeader) %>
    

    <!-- 日付と氏名 -->
    <% for m in 0..1 -%>
      <%= raw(createDayLabel(m)) %>
      <tr>	  
	<% for i in 0...7 -%>
	  <td class="blank">
	    <% d = (changeDate(@date, i + 7*m)) %>
	    <% dd = d.strftime("%Y/%m/%d") -%>
	    <ol id="<%= dd.to_s %>" class="0">
	      <% @exp = (sarchMember(d, 0)) -%>
	      <%  @exp.each do |exp| %>
		<li id="exp_<%= exp.id %>"><strong>
		    <%= exp.userName %>
		    <%= link_to sanitize('<i class="icon-trash"></i>'), exp, method: :delete, data: { confirm: '削除してもよろしいでしょうか？？'},
						       :remote => true %></strong>
		</li>
	      <% end %>
	      <% if @exp[0] == nil %>
		<li class="placeholder">予定なし</li>
	      <% end -%>
	    </ol>
	  </td>
	<% end -%>
      </tr>
    <% end -%>

  </table>
  <table class="span9 kankyou">
    <thead><th class="top ui-widget-header" colspan="7">環境</th></thead>
    <%= raw(weekHeader) %>
      
    
    <!-- 日付と氏名 -->
    <% for m in 0..1 -%>
      <%= raw(createDayLabel(m)) %>
      <tr>	  
	<% for i in 0...7 -%>
	  <td class="blank">
	    <% d = (changeDate(@date, i + 7*m)) %>
	    <% dd = d.strftime("%Y/%m/%d") -%>
	    <ol id="<%= dd.to_s %>" class="1">
	      <% @exp = (sarchMember(d, 1)) -%>
	      <%  @exp.each do |exp| %>
		<li id="exp_<%= exp.id %>"><strong>
		    <%#= link_to exp.userName, edit_exp_plan_path %>
		    <%= link_to sanitize('<i class="icon-trash"></i>'), exp, method: :delete, data: { confirm: '削除してもよろしいでしょうか？？'},
						       :remote => true %></strong>
		</li>
	      <% end %>
	      <% if @exp[0] == nil %>
		<li class="placeholder">予定なし</li>
	      <% end -%>
	    </ol>
	  </td>
	<% end -%>
      </tr>
    <% end -%>
    
  </table>
</div>

<%= form_for(@exp_new, :remote => true) do |f|  %>

  <div class="field">
    <%= f.hidden_field :userName ,:value => "石橋"%>
  </div>
  <div class="field">
    <%= f.hidden_field :planDay ,:value => Time.now%>
  </div>
  <div class="field">
    <%= f.hidden_field :roomName,:value => 0 %>
  </div>
<% end %>
<script type="text/javascript">
$(function(){
  $('a[data-method="delete"]').live('ajax:success', function(e, data, status, xhr)
  {
    $('#exp_'+data.exp.id).fadeOut("slow");
    
  });
  $('a[rel="popover"]').popover;
});
</script>  
